name: spelling
permissions: read-all
on: [ push, pull_request ]

jobs:
  misspell:
    name: Check spelling
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@6b3083af2869dc3314a0257a42f4af696cc79ba3
        with:
          disable-sudo: true
          egress-policy: audit
      - uses: actions/checkout@v3
      - name: Install
        run: wget -O - -q https://git.io/misspell | sh -s -- -b .
      - name: Misspell
        run: ./misspell -error .
